*{
  margin:0;
  padding:0;
}

body{
  font-family:'Open Sans',sans-serif!important;
}

.text-slanted{
  font-Family:'Courgette',cursive ;
}
/*font-family: 'Open Sans', sans-serif;
font-family: 'Courgette', cursive;*/